Makefile
*.o
htmlatex.pro.*
htmlatex.pro.user
test.tex
moc_*
htmlatex
*~
qt_temp*
/Pflichtenheft/*.aux
/Pflichtenheft/*.dvi
/Pflichtenheft/*.lof
/Pflichtenheft/*.log
/Pflichtenheft/*.out
/Pflichtenheft/*.ps
/Pflichtenheft/*.backup
/Pflichtenheft/*.toc
/Ausarbeitung/*.aux
/Ausarbeitung/*.dvi
/Ausarbeitung/*.lof
/Ausarbeitung/*.log
/Ausarbeitung/*.out
/Ausarbeitung/*.ps
/Ausarbeitung/*.backup
/Ausarbeitung/*.toc
/Ausarbeitung/*.bbl
/Ausarbeitung/*.blg
/Ausarbeitung/*.lof
/Ausarbeitung/*.lot
/Ausarbeitung/*.toc
/Ausarbeitung/*.lol
